POSTGRES_DB=legado
POSTGRES_USER=legado
POSTGRES_PASSWORD=change-this-development-password

KEYCLOAK_DB_PASSWORD=change-this-keycloak-database-password
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-this-keycloak-admin-password

N8N_DB_PASSWORD=change-this-n8n-database-password
N8N_ENCRYPTION_KEY=change-this-with-at-least-32-random-characters

REDIS_PASSWORD=change-this-redis-password
DJANGO_SECRET_KEY=change-this-with-at-least-50-random-characters
PERSONAL_DATA_ENCRYPTION_KEYS=MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDA=
PERSONAL_DATA_HMAC_KEY=change-this-hmac-key-with-at-least-32-characters
